.li {
	display: grid;
	grid-template-columns: min-content;
	justify-self: center;
	.img_container {
		width: 20rem;
		margin-inline: auto;
	}

	.info_basket {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		div > button:not(:last-child) {
			margin-inline-end: 0.5rem;
		}

		p {
			display: inline-block;
			margin: 0;
			font-weight: bold;
		}
	}
	h4 {
		margin-block-end: 1rem;
	}
	button {
		font-size: 0.6rem;
	}
	.hidden {
		display: none;
	}
}
